/* Navbar */
.navbar{
    font-family: Viga;
    font-size: 15px;
}

.navbar-brand{
    font-size: 30px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../img/jumbotron.png);
    background-size: cover;        
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.jumbotron .display-5 {
    margin-top: 10px;
    font-size: 20px;
}

.jumbotron p{
    opacity: 0.4;
    margin-left: -15px;
    font-size: 10px;
}

/* Info Panel */
.info-panel{
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    margin-top: -70px;
    background-color: #fff;
    border-radius: 20px;
    padding: 34px 0px 15px 25px;
}

.info-panel img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4{
    font-size: 20px;
    margin-top: -5px;
}

.info-panel p{
    opacity: 0.5;
}

/* Main Page */

.main-page {
    margin-top: 120px;
}

.main-page h4{
    text-align: center;
    margin-top: 40px;
}
.main-page p{
    text-align: center;
    opacity: 0.5;
}

.main-page img{
    border-radius: 15px;
    width: 80%;
}

/* Tab */
.tab{
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    background-color: #efd5d6ff;
    border-radius: 20px;
    padding: 34px 0px 15px 25px;
    height: 210px;
}

.tab img{
    width: 30%;
    text-align: left;
    margin-top: -120px;
    border-radius: 15px;
    margin-right: 60px;
}

.tab h4{
margin-top: -10px;
}

.tab p{
    text-align: center;
    opacity: 0.5;
}

/* Footer */
.card-footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.card-footer p{
    margin-top: 5px;
}
@media (min-width: 768px) {
    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron{
        margin-top: -75px;
        height: 650px;

    }
    .jumbotron .display-5 {
        margin-top: 150px;
        font-size: 35px;
        margin-left: 12px;
    }
    
    .jumbotron p{
        opacity: 0.4;
        margin-left: 0px;
        font-size: 15px;
    }

    .info-panel img{
        height: 80px;
        width: 80px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    .info-panel h4{
        font-size: 20px;
    }

    .main-page h4{
        text-align: left;
        margin-top: 0px;
    }
    .main-page p{
        text-align: left;
    }